<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.duh-uh.tabattic</string>
       <key>Developer Identifier</key>
       <string>P5638ENSBM</string>
       <key>CFBundleVersion</key>
       <string>0.2</string>
       <key>CFBundleShortVersionString</key>
       <string>0.2</string>
       <key>URL</key>
       <string>https://github.com/venkytv/tabattic/releases/download/0.2/TabAttic.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
